
body {
	margin:0;
	padding:0;
}

.clearfix:after {
  display: block;
  clear: both;
  content: "";
}

.indent{
	text-indent:100%;
	white-space:nowrap;
	overflow:hidden;
	display:block;
}

h1 {
	margin:5px 0;
	margin-left:10px;
	font-size:10px;
	font-weight:normal;
}

a:hover{
	opacity: 0.6;
}

a:hover img{
	opacity: 0.8;
}

a:hover p{
	opacity: 0.6;
}

/*---------------------------*/

#sliderImg{
	width:1200px;
	height:auto;
	margin:0 auto;
	padding:0;
}

#slider img {
	height: auto;
	width: 100%;
}

.slick-next,
.slick-prev {
	z-index: 100;
}

.slick-next {
	right: 20px;
}

.slick-prev {
	left: 15px;
}

/*---------------------------*/

.red{
	color:#9a0000;
}

.bold{
	font-weight: bold;
}

span.priceBig{
	font-size: 1.2em;
}

/*---------------------------*/

.clear{
	clear:both;
}

#clear{
	clear:both;
}

/*-------- ƒwƒbƒ_[@--------*/

header{
	width:100%;
	height:auto;
	margin:0 0 30px 0;
	background:#ccc;
}

header #headArea {
	width:100%;
	margin:0;
	padding:5px 0;
	color:#444;
	background: #fbeaef;
	box-shadow:5px 0px -4px #444;
}

header #headAreaSpeace{
	width:1200px;
	height:auto;
	margin:0 auto;
	padding:0;
	font-size:15px;
}
header #headAreaSpeace p{
	margin:0;
	padding: 0;
}

header #headAreaSpeace .left{
	float:left;
}

header #headAreaSpeace .left p{
	margin:0;
	padding:5px 0;
}

header #headAreaSpeace .right{
	float:right;
}

header #headAreaSpeace .right ul{
	margin:0;
	padding:5px 0;
}

header #headAreaSpeace .right li{
	float:left;
	margin:0;
}

li.login {
	background: url(http://img.shop-pro.jp/tmpl_img/37/0302_icon_login.gif) 0 0 no-repeat;
	padding-left:10px;
	padding-bottom:5px;
}

li.logout {
	background: url(http://img.shop-pro.jp/tmpl_img/37/0302_icon_logout.gif) 0 0 no-repeat;
	padding-left:10px;
	padding-bottom:5px;
}

li.regist {
	background: url(http://img.shop-pro.jp/tmpl_img/37/0302_icon_regist.gif) 0 0 no-repeat;
	padding-left:10px;
	padding-bottom:5px;
}

 li.mypage {
	background: url(http://img.shop-pro.jp/tmpl_img/37/0302_icon_mypage.gif) 0 0 no-repeat;
	padding-left:10px;
	padding-bottom:5px;
}

li.cartG {
	border-left:1px solid #ff7bac;
}

li.cartBtn{
	background: url(https://file001.shop-pro.jp/PA01166/275/pc/img/icon/icocart.png) 0 0 no-repeat;
	padding-left:10px;
	padding-bottom:5px;
}

header #navArea{
	width:100%;
	height:auto;
	margin:0 auto;
	padding:0px;
	background: #f7f7f7;
	box-shadow:0px 1px 2px #444;
}

/*-------------------------------*/

.menu {
    position: relative;
    width: 1200px;
    height:69px;
    display:table;
    margin:0 auto;
    padding:0;
   list-style-type:none;
}

.menu img{
	width:201px;
	height:69px;
	display:block;
}

.menu > li {
    float: left;
    width: 200px;
    height:auto;
    line-height: 50px;
}

.menu > li a {
    display: block;
}

ul.menu_category {
    visibility: hidden;
    opacity: 0;
    z-index: 1;
}

ul.menu_brand {
    visibility: hidden;
    opacity: 0;
    z-index: 1;
}


/* floatƒNƒŠƒA */
.menu:before,
.menu:after {
    content: " ";
    display: table;
}

.menu:after {
    clear: both;
}

.menu {
    *zoom: 1;
}

/*-------------------------------*/

li.menu__mega ul.menu_category {
    position: absolute;
    left: 0;
    box-sizing: border-box;
    width: 100%;
    background:#e7ccd4;
    list-style-type:none;
    border:1px solid #9a0000;
}

li.menu__mega:hover ul.menu_category {
    top: 69px;
    visibility: visible;
    opacity: 1;
    padding:10px 20px 0 25px;
}

li.menu__mega ul.menu_category li{
	text-indent:1px;
}

li.menu__mega ul.menu_category > li {
    float: left;
    width: 22%;
    border:none;
    font-size:8px;
    line-height:1.6em;
    padding:5px 12px;
}

li.menu__mega ul.menu_category > li:nth-child(9n+10) {
    margin:0;
    
}

/*-------------------------------*/

li.menu__mega ul.menu_brand {
    position: absolute;
    left: 0;
    box-sizing: border-box;
    width: 100%;
    background:#f3f8f8;
    list-style-type:none;
    border-top:1px solid #eee;
    border-bottom:1px solid #eee;
}

li.menu__mega:hover ul.menu_brand {
    top: 69px;
    visibility: visible;
    opacity: 1;
    padding:10px;
}

li.menu__mega ul.menu_brand li{
	margin:5px 5px;
	padding:10px 10px 0 10px;
	text-indent:1px;
	font-size:10px;
	font-weight:bold;
}

li.menu__mega ul.menu_brand > li {
    float: left;
    width: 22%;
    border: none;
}

li.menu__mega ul.menu_brand > li:nth-child(4n+3) {
    margin:0 1%;
}

/*-------------------------------*/

header a{
	text-decoration:none;
	color:#000;
	font-size:12px;
}

header span{
	padding:0 10px;
}

header span img{
	width:20px;
	margin:0 5px;

}

.br_head{
	padding-right:5px;
	border-right:1px solid #444;
}

/*---------------------------*/

#pickupArea{
	width:100%;
	height:auto;
	margin:0;
	padding:0;
	background:#f9f3f0;
}

.pickupCnt{
	width:1200px;
	margin:0 auto;
	padding:0;
}

#pickupArea h2{
	width:100%;
	margin:0;
	padding:0;
}

#pickupArea h2 img{
	width:552px;
	float:left;
}

.pickTitle{
	margin:0;
	padding:0;
	position:relative;
	top:-13px;
	left:10px;
}

.pickTitle p{
	float:right;
	padding-top:15px;
	padding-right:10px;
}

.pickTitle p img{
	width:172px;
	display:block;
}

.pickSectionArea{
	width:100%;
	margin:0;
	padding:0;
	display:table;
}

.pickSectionArea .left{
	width:20%;
	float:left;
	margin-bottom:25px;
}

.pickSectionArea .center{
	width:33%;
	height:240px;
	float:left;
	color:#444;
	padding-right:5px;
	border-right:2px solid #dcd2b1;
}

.pickSectionArea .right{
	width:43%;
	float:left;
	padding-left:40px;
}

.pickSectionArea .right img{
	width:500px;
	margin:0;
	padding:0;
}

.pickSectionArea .left p ,.pickSectionArea .right p{
	margin:5px 0 0 0;
}

.pickSectionArea .left img{
	width:100%;
	box-shadow: 0px 0px 10px #ccc;
}

.pickSectionArea .center h3{
	margin:0;
	padding-left:20px;
	line-height:30px;
	font-size:25px;
}

.centerTittle{
	padding: .25em 0 .25em .75em;
	border-left: 6px solid #444;
	margin:5px 0;
	margin-left:20px;
	font-weight:bold;
}
.centerText{
	margin:0px;
	margin-left:30px;
	line-height:20px;
	font-size:14px;
}

.centerKingaku{
	margin:0px;
	margin-right:40px;
	float:right;
	font-weight:bold;
}

.centerKingaku span{
	color:#9a0000;
	font-size:50px;
	font-family: 'Open Sans', sans-serif;
}

.rightTittle{
	padding: .25em 0 .25em .75em;
	border-left: 6px solid #444;
	margin:5px 0;
	text-align:left;
	font-weight:bold;
}

.right ul{
	list-style-type:none;
}

/*---------------------------*/

#box {
	width:1200px;
	height:auto;
	margin:0 auto 60px auto;
	padding:0;
}

/*---------------------------*/

article {
	width:950px;
	height:auto;
	float:right;
}

article a{
	text-decoration:none;
	color:#000;
}

/*---------------------------*/

article #new{
	width:850px;
	margin:15px auto 50px auto;
}

#new span.none {
	float: left;
	text-align: center;
	font-family: Verdana, Geneva, sans-serif;
	background: #FFF;
	border: 1px solid #CCC;
	color: #CCC;
	margin:3px;
	padding:54px 45px;
	cursor: pointer;
	clear:both;
}

#new h3{
	margin:0;
	padding:0 0 5px 0;
	top:0;
	background:#fff;
	border-bottom:2px solid #dcd2b1;
}

#new h3 img{
	width:102px;
	display:inline;
}

#newTittle {  
    width:100%;  
    margin-right:20px;  
    float:left;  
}

#newTittle #btnIchiran{
	position:relative;
}

#newTittle #btnIchiran a{
    position:absolute;  
    top:-40px;
    right:7px;
    font-size:12px;
    display:block;
}

#new .newArea{
	width:100%;
	height:auto;
	margin-top:5px;
}

#new .newArea p{
	margin:0;
	padding:5px 0;
}

#new .newBox{
	width:18%;
	float:left;
	margin-left:12px;
	border:1px solid #dcd2b1;
}

#new .newBox img{
	width:145px;
	margin:3px auto;
	border:1px solid #dcd2b1;
	display:block;
}

#new .newBox .newText{
	height:115px;
	line-height:18px;
	font-size:12px;
	padding:0 5px;
	font-weight:bold;
	clear:both;
}

.newKingaku{
	width:100%;
	background:#f9f7f0;
	text-align:center;
	font-size:12px;
	font-weight:bold;
}

.newKingaku span{
	color:#9a0000;
	font-size:15px;
	font-family: 'Open Sans', sans-serif;
	float:right;
	margin:5px;
}

/*---------------------------*/

.btn20{

	margin:0 1px;
	padding:10px 20px;
	background:#cbbfa2;
	color:#fff;
	font-weight:bold;
}

.btn40{
	margin:0 1px;
	padding:10px 45px;
	background:#e5decd;
	color:#fff;
	font-weight:bold;
}

#cntBtn{
	width:100%;
	height:50px;
	padding:5px 0;
	text-align:center;
	border-bottom:1px solid #ccc;
}

#cntBtn .btn{
	margin:5px 0;
	padding:10px 100px;
	border:1px solid #000;

}

/*---------------------------*/

#other h3{
	width:162px;
	margin:0px auto;
	margin-top:25px;
}

#other h3 img{
	width:100%;
}

#other ul{
	list-style-type:none;
}

#other li{
	width:22%;
	margin-left:5px;
	float:left;
}

/*---------------------------*/

aside {
	width:250px;
	height:auto;
	float:left;
}

/*---------------------------*/

#aside {
	width:100%;
	margin:0;
	padding:0;
}

#asideH3 {
	margin:20px 0 5px 0;
	padding:0;
	background:#fff;
}

#asideH3 img{
	width:114px;
	margin:0;
	padding:0;
}

a.mailMagazine{
	background:url(https://file001.shop-pro.jp/PA01166/275/pc/img/bg/bg_menu_under.jpg);
	background-size:100% auto;
}

/*---------------------------*/

#aside ul{
	height:auto;
	margin:0px auto 5px auto;
	padding:5px 0px;
	background:#fbeaef;
	line-height:2em;
	list-style-position:inside;
	list-style-type:none;
	overflow:hidden;}

#aside li{
	width:95%;
	height:auto;
	margin:0 auto;
	text-indent:1px;
	border-bottom:1px solid #fff;
}

#aside a{
	margin-left:10px;
	text-decoration:none;
	font-size:12px;
	color:#888;
}

#sidebanner{
	width: 260px;
	margin-bottom:10px;
}

/*---------------------------*/

footer {
	width:100%;
	height:auto;
}

/*---------------------------*/


footer #footernavArea{
	width:100%;
	height:auto;
	margin:0;
	padding:2px 0;
	background:url(https://file001.shop-pro.jp/PA01166/275/pc/img/bg/bg_menu_under.jpg);
	background-posiiton-x:inherit;
	background-position:left top;
}

#footernavArea ul{
	width:1200px;
	margin:0 auto;
	margin-top:8px;
	list-style-type:none;
}

#footernavArea li{
	float:left;
}

footer .navUl2{
	display:table;
	margin:auto;
}

footer .navUl2 li{
	display:table-cell;
}

footer .footerimg1{
	width:472px;
	border-right:1px solid #ccc;
	border-shadow:1px 0px 5px #fff;
}

footer .footerimg2{
	width:254px;
}

/*---------------------------*/


footer #companyArea{
	width:1100px;
	height:auto;
	margin:20px auto;
	padding-bottom:20px;
	background:#f7f7f7;
	border:1px solid #c9cbcb;
	font-family:'SimHei';
}

footer #companyArea h3{
	margin-bottom:0;
	padding-bottom:5px;
	border-bottom:2px solid #c9cbcb;
}

footer #companyArea h4{
	margin-bottom:0;
	padding-left:5px;
}

footer #companyArea2{
	height:auto;
	margin:20px auto;
	background:#f7f7f7;
	border:1px solid #c9cbcb;
	font-family:'SimHei';
}

footer #companyArea2 h3{
	margin-bottom:0;
	padding-bottom:5px;
	border-bottom:2px solid #c9cbcb;
}

footer #companyArea2 h4{
	margin-bottom:0;
	padding-left:5px;
}

.about{
	width:25%;
	padding:0 10px;
	float:left;
}

.about2{
	width:28%;
	padding:0 10px;
	float:left;
}

.calendar{
	width:70%;
	padding:0 10px;
	float:left;
}

.about p{
	margin:0;
	margin-top:5px;
	padding:5px 0px 5px 5px;
	font-size:11px;
	line-height:20px;
}

.about a{
	text-decoration:none;
	color:#9a0000;
	font-weight:bold;
}

.about h3 img{
	width:88px;
}

.calendar h3 img{
	width:138px;
}

.calendar p{
	width:270px;
	margin-left:15px;
	float:left;
	font-size:12px;
	line-height:22px;
	font-family:'SimHei';
}

.calendar2 h3 img{
	width:138px;
}

.calendar2 p{
	width:27%;
	float:left;
	font-size:12px;
	line-height:17px;
	font-family:'SimHei';
}

#guideArea{
	margin-left:auto;
	margin-right:auto;
	width:100%;
	height:auto;
	padding-bottom:50px;
	background:#f8f8f8;
}

#Shopping_Guide{
	width: 100%;
	height: auto;
	margin: 0 auto;
}

.guideTitle{
	width: 220px;
	height: 34px;
	margin: 0 auto;
	padding:40px 0 20px 0;
	display: block;
}

#guideAll{
	width:1000px;
	height:auto;
	margin:0 auto;
	padding-bottom:15px;
	background:#fff;
	border:1px solid #ccc;
}

#guidehead{
	width:95%;
	margin:0 auto;
	padding:0 10px 10px 10px;
	background:#f6f6f6;
	font-family:monospace;
}

#guidehead h3{
	width:32%;
	padding:10px 0 5px 10px;
	border-bottom:2px solid #aaa;
}

#guidehead h4{
	margin:0;
	padding:0 0 0 10px;
	font-size:20px;
}

#guidehead p{
	padding:0 10px;
	font-size:14px;
	line-height:20px;
}

#guideCntArea{
	width:98.5%;
	height:auto;
	margin:0 auto;
	margin-top:25px;
	padding:0 10px 10px 10px;
	font-family:monospace;
}

#guideCnt01{
	width:32%;
	float:left;
	margin-left:5px;
}

#guideCnt02{
	width:32%;
	float:left;
	margin:0 12px;
}

#guideCnt03{
	width:32%;
	float:left;
	margin-right:5px;
}

#guideCntArea h4{
	margin:0;
	padding:5px 0;
	text-align:center;
	background:#ebf1f1;
}

.cntText{
	margin:0;
	padding:5px;
}

#guideCntArea p{
	font-size:12px;
	line-height:20px;
}

#guideCntArea span{
	font-size:12px;
	line-height:25px;
	font-weight:bold;
}

.guideLine{
	margin:0;
	border:1px solid #cfcfcf;
	padding:5px;
}

.guideUl{
	margin:0;
	margin-top:-10px;
	margin-left:-20px;
	margin-bottom:10px;
	line-height:20px;
}

.cntimg{
	width:265px;
	margin:5px auto;
	display:block;
}

.cntbtn{
	width:299px;
	margin:5px auto;
	display:block;
}

#guidefoot{
	width:95%;
	margin:0 auto;
	padding:10px;
	background:#f6f6f6;
	font-family:monospace;
	line-height:20px;
}

#guidefoot h3 {
	text-align:center;
}

#guidefoot .guidefoot_L,#guidefoot .guidefoot_R{
	width:47%;
	margin:0;
	padding:0px 10px;
	float:left;
	font-size:12px;
	color:#9ea0a0;
}

#guidefoot .guidefoot_L h4{
	margin:0;
	color:#9a0000;
	font-size:15px;
}

#guidefoot .guidefoot_R h4{
	margin:0;
	color:#58aa92;
	font-size:15px;
}

/*---------------------------*/

#flow{
	width:100%;
	height:auto;
	background:url(https://file001.shop-pro.jp/PA01166/275/pc/img/bg/bg_flow.jpg);
	background-repeat:x-repeat;
	background-position:top bottom;
}

#flow img{
	width:1032px;
	display:block;
	margin:0px auto;
	padding:20px 0;
}

/*---------------------------*/

#couponArea{
	width:100%;
	height:auto;
	margin:0;
	background:url(https://file001.shop-pro.jp/PA01166/275/pc/img/bg/bg_coupon.jpg);
}

#couponArea2{
	width:100%;
	height:auto;
	margin:0;
	background:#ebf1f1;
}

#couponAll{
	width:900px;
	height:auto;
	margin:0 auto;
	padding:10px 0;
}

#couponArea .couponLogo{
	margin-right: 20px;
	float:left;
	padding-bottom:5px;
}

#couponArea .couponMenu{
	float:left;
	padding-bottom:5px;
}

.logoimg{
	width:217px;
	padding:45px 30px;
}

.imgCT{
	width:155px;
	padding:0px 0 0 30px;
}


.couponMenu img{
	width:217px
}

#copy{
	width:100%;
	background:#fbeaef;
	color:#aaa;
	text-align:center;
	font-size: 11px;
	font-family: 'Open Sans', sans-serif;
}

#copy ul{
	margin:10px auto 10px auto;
	padding:0;
	list-style-type:none;
	display:inline-block;
}

#copy ul li{
	float:left;
	border-right:1px solid #ff7bac;
	padding:0 10px;
}

#copy ul li:last-child {
	border: 0;
}

#copy ul li a{
	text-decoration:none;
	color:#8899a6;
}

#copy p{
	margin:0;
	padding:0 0 5px 0;
	display:inline-block;
}

/*---------------------------*/
#rc_rightArea{
	position: fixed;
	top: 100px;
	right:0px;
	z-index: 9999;
 }

 #rc_rightArea ul li{
 	list-style: none;
 }

#rc_rightArea ul li:nth-child(1) a{
	width: 56px;
	display: inline-block;
	z-index: 9999;
}

#rc_rightArea ul li:nth-child(2) a{
	width: 56px;
	display: inline-block;
	z-index: 9999;
}

#rc_rightArea ul li a:hover{
	right: 0px;
}

#officialsite .uc2 {
	width: 180px; /*画像の全体幅*/
	height:60px;
	background:url(https://file001.shop-pro.jp/PA01166/275/pc/img/btn/uc2_btn_img.png) no-repeat center top;
	position: fixed;
	right: -96px; /*マウスを乗せた時に出てくる幅*/
	display: inline-block;
	transition: all .2s ease;
	z-index: 9999;
}

#officialsite .uc2:hover{
	right: 0;
}

#officialsite .krilloil{
	width: 180px; /*画像の全体幅*/
	height:60px;
	background:url(https://file001.shop-pro.jp/PA01166/275/pc/img/btn/krill_btn_img.png) no-repeat center top;
	margin-top:65px;
	position: fixed;
	right: -96px; /*マウスを乗せた時に出てくる幅*/
	display: inline-block;
	transition: all .2s ease;
	z-index: 9999;
}

#officialsite .krilloil:hover{
	right: 0;
}

.specialInner{
	width: 100%;
	margin: 0 auto;
	text-align: center;
}

.specialInner img{
	text-align: center;
}

a.mb20{
	margin-bottom: 30px;
	display: block;
}


.coupon_header a{
	width: 97.34%;
	height:auto;
	padding-top: 21.99%;
	background: url(https://file001.shop-pro.jp/PA01166/275/pc/img/common/btn_couponHeader.png) no-repeat 0 center; background-size:100%;
	display: block;
	margin: 0 auto;
}

/*30%OFF追加1110---------------------------*/

.flowting{
	background-color: #bf0000;
	padding: 5px 0;
	width: 100%;
}

.flowting p{
	width: 1172px;
	margin: 0 auto;
}

hr{
	clear: both;
}

.contactbanr{
	clear: both;
}

/*ACCESS*/

article #mapArea{
	width:850px;
	margin:15px auto;
}

#mapArea h3{
	margin:0;
	padding:0 0 5px 0;
	top:0;
	background:#fff;
	border-bottom:2px solid #dcd2b1;
}

#mapArea h3 img{
	width:102px;
	display:inline;
}

#mapAreaTittle {  
    width:100%;  
    margin-right:20px;  
    float:left;  
}

/*---------------------------*/

div#accessArea{
	width:850px;
	height:auto;
	margin:0 auto;
}

div#access{
	width: 272px;
	height:auto;
	float: left;
	margin-top: 0;
	margin-right: 10px;
	margin-bottom: 0;
	margin-left: 0;
}

.map{
	border:1px solid #9C8871;
	width: 270px;
	height: 270px;
	clear: both;
	margin-top: 10px;
	margin-right: 0;
	margin-bottom: 0;
	margin-left: 0;
}

#loc{
	width: 275px;
	height: 340px;
	font-family: "メイリオ","ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", "Osaka", "ＭＳ Ｐゴシック", "MS PGothic", "sans - serif";
	font-size: 13px;
	font-weight: normal;
}

#access h4#forus-Oita{
	background:url(https://file001.shop-pro.jp/PA01166/275/sp/img/shop/tittle/foursoita-tittle.jpg) no-repeat 0 0;
	background-size:100%;
	width:100%;
	height:auto;
	padding-bottom:15%;
}

#access h4#nishiodori{
	background:url(https://file001.shop-pro.jp/PA01166/275/sp/img/shop/tittle/nishioomichi.jpg) no-repeat 0 0;
	background-size: 100%;
	width:100%;
	height:auto;
	padding-bottom:15%;
}

#access h4#aeonkyushu-Hazama{
	background:url(https://file001.shop-pro.jp/PA01166/275/sp/img/shop/tittle/aeonkyushu-hasama.jpg) no-repeat 0 0;
	background-size:100%;
	width:100%;
	height:auto;
	padding-bottom:15%;
}

.googlemap{
	width: 182px;
	height: 41px;
	margin-top: 20px;
	margin-right: 0;
	margin-bottom: 0;
	margin-left: 45px;
}

/*ショップガイド---------------------------*/

div#shopInfo{
	width:800px;
	height:auto;
	margin:0 auto 60px auto;
	padding:20px 0 0 0;
	border-top:2px dashed #ff7bac;
	font-size:16px;
}

.pan{
	width:800px;
	height:auto;
	margin:0 auto;
	font-size:12px;
}

.pan ul.topicpass{
	margin:0 0 5px;
}

.pan ul.topicpass li{
	display:inline;
	margin:0;
	line-height:1.5em;
	padding:0;
	backgound-image:none;
}

.pan ul.topicpass li a{
	margin:0;
	color:#f4f;
}

div#shopInfo #appearance{
	width:100%;
	height:auto;
	margin:0;
	padding:0px 10px 30px 10px;
}

div#shopInfo .shopLoc{
	float:left;
	width:60%;
}

div#shopInfo .shopLoc span{
	color:#aa3f88;
	font-weight:bold;
	font-size:18px;
	font-family:sans-serif;
}

div#shopInfo .shopLoc p{
	line-height:1.5em;
	padding:270px 0 0 30px;
}

div#shopInfo .mapImg{
	float:left;
	width:40%;
}

div.ttlShop{
	margin:0;
	padding:0;
	height:110px;
}

div.ttlShop #blogBtn{
	position:relative;
	margin:-78px 0 0 625px;
	top:0;
	right:0;
}

div.ttlShop #blogBtn a{
	background:url(https://file001.shop-pro.jp/PA01166/275/pc/img/btn/ttl_pc_brg_btn.png) no-repeat 0 0;
	display:block;
	width:165px;
	height:51px;
}

div#shopInfo h4#nishiodori{
	background:url(https://file001.shop-pro.jp/PA01166/275/pc/img/title/nishiomichi_ttl.jpg) no-repeat 10px 0;
	background-size:780px;
	width:100%;
	padding-bottom:11%;
	margin:0 auto;
}

div#shopInfo h4#forus-Oita{
	background:url(https://file001.shop-pro.jp/PA01166/275/pc/img/title/fours-oita_ttl.jpg) no-repeat 10px 0;
	background-size:780px;
	width:100%;
	padding-bottom:11%;
	margin:0 auto;
}

div#shopInfo h4#aeonkyushu-Hazama{
	background:url(https://file001.shop-pro.jp/PA01166/275/pc/img/title/ion_ttl.jpg) no-repeat 10px 0;
	background-size:780px;
	width:100%;
	padding-bottom:11%;
	margin:0 auto;
}

.nishiodoriAppearance{
	background:url(https://file001.shop-pro.jp/PA01166/275/sp/img/shop/nishiomichi.jpg) no-repeat 10px 0;
	background-size:475px;
}

.forus-OitaAppearance{
	background:url(https://file001.shop-pro.jp/PA01166/275/sp/img/shop/fours-oita.jpg) no-repeat 10px 0;
	background-size:475px;
}

.aeonkyushu-HazamaAppearance{
	background:url(https://file001.shop-pro.jp/PA01166/275/sp/img/shop/aeonkyushu-hasama.jpg) no-repeat 10px 0;
	background-size:475px;
}

div#shopInfo .mapImg a{
	width: 182px;
	height: 41px;
	margin:0 auto;
	background:url(https://file001.shop-pro.jp/PA01166/275/pc/img/map/googlemap_btn.jpg) no-repeat 0 0;
	background-size:100%;
}


div#shopInfo .mapImg span{
	width:240px;
	height:240px;
	margin:0 auto 10px auto;
	padding:9px;
	border:1px solid #af4c8f;
}

div#shopInfo span#nishiomichimap{
	background: url(https://file001.shop-pro.jp/PA01166/275/pc/img/map/nishiodori_map.jpg) no-repeat 0;
	background-size:100%;

}

div#shopInfo span#forusmap{
	background: url(https://file001.shop-pro.jp/PA01166/275/pc/img/map/forusmap.jpg) no-repeat 0;
	background-size:100%;
}

div#shopInfo span#ionmap{
	background: url(https://file001.shop-pro.jp/PA01166/275/pc/img/map/ion_map.jpg) no-repeat 0;
	background-size:100%;
}

/*ランキング---------------------------*/

.tub{
	width:850px;
	margin:0 auto;
}

ul#tabMenu{
    margin:0 auto;
    padding:0;
}

#tabMenu ul{
    max-width:100%;
    overflow: hidden;
}

#tabMenu li{
    width:50%;
    float:left;
    list-style:none;
}

#tabMenu li a{
    display:block;
    height:48px;
    line-height:50px;
    text-align:center;
}

#tabMenu li:nth-child(1) a{
	border: 2px solid #e22945;
	border-bottom:none;
	color: #ffffff;
	background:#e22945;
}

#tabMenu li:nth-child(2) a{
	border: 2px solid #FF7BAC;
	border-bottom:none;
	color: #ffffff;
	background:#FF7BAC;
}

#tabBox1,#tabBox2{
    width:100%;
    height:auto;
    }

#tabBox1{
	border-top: 2px solid #e22945;
	background:url(https://file001.shop-pro.jp/PA01166/275/pc/img/bg/cosme_bg.jpg) 0 0 no-repeat;
	background-size:850px;
    }

#tabBox2{
	border-top: 2px solid #FF7BAC;
	background:url(https://file001.shop-pro.jp/PA01166/275/pc/img/bg/contact_bg.jpg) 0 0 no-repeat;
	background-size:850px;
	display:none;
}

p.no01{
	margin-bottom:-25px;
}

/*---------------------------*/

.koreacosmeImg , .contactImg{
	margin:80px auto 0px auto;
	width:100%;
}

.koreacosmeImg img, .contactImg img{
	margin:0 auto;
	display:block;
}

/*---------------------------*/

.boxInner {
	margin: 0 auto;
	overflow: hidden;
}

.boxInner dl{
	float: left;
	width: 25%;
	margin:0px;
}

.boxInner dl:nth-child(1n){
	margin-left:7%;
}

.boxInner dl dt{
	margin-bottom: 5%;
}

.boxInner dl dt img{
	margin:0 auto;
	padding:0;
	display:block;
}

.boxInner dl dd{
	line-height: 1.5;
	font-size: 0.9em;
	margin:0;
	padding:0 10px;
}

.itemTtl{
	padding:3px;
	font-weight: bold;
}

/*---------------------------*/

h3#twitter{
	background:url(https://file001.shop-pro.jp/PA01166/275/pc/img/title/ttl_twitter.png) 0 0 no-repeat;
	background-size:250px;
	height:24px;
	margin:0;
	padding-bottom:10%;
	border:2px solid #e22945;
	border-bottom:1px solid #e22945;
}

#twitterArea{
	width:246px;
	border:2px solid #e22945;
	border-top:none;
	margin:0 auto 20px auto;
	border-bottom-left-radius: 6px; 
	border-bottom-right-radius: 6px; 
	-webkit-border-bottom-left-radius: 6px; 
	-webkit-border-bottom-right-radius: 6px;
	-moz-border-radius-bottomleft: 6px;
	-moz-border-radius-bottomright: 6px;
}

/*商品検索一覧---------------------------*/

div#itemList{
	width:800px;
	height:auto;
	margin:0 auto 60px auto;
	padding:20px 0 0 0;
	border-top:2px dashed #ff7bac;
	font-size:16px;
}

div#itemList #appearance{
	width:100%;
	height:auto;
	margin:0;
	padding:0px 10px 30px 10px;
}

div#itemList .shopLoc{
	float:left;
	width:60%;
}

div#itemList .shopLoc span{
	color:#aa3f88;
	font-weight:bold;
	font-size:18px;
	font-family:sans-serif;
}

div#itemList .shopLoc p{
	line-height:1.5em;
	padding:270px 0 0 30px;
}

div#itemList .mapImg{
	float:left;
	width:40%;
}

div.ttlItem{
	margin:0;
	padding:0;
	height:110px;
}

div.ttlItem #blogBtn{
	position:relative;
	margin:-75px 0 0 625px;
	top:0;
	right:0;
}

div.ttlItem #blogBtn a{
	background:url(https://file001.shop-pro.jp/PA01166/275/pc/img/btn/ttl_pc_item_btn.png) no-repeat 0 0;
	display:block;
	width:165px;
	height:51px;
}

div#itemList h4#koriacosmeTitle{
	background:url(https://file001.shop-pro.jp/PA01166/275/pc/img/title/koreancosme_ttl.jpg) no-repeat 10px 0;
	background-size:780px;
	width:100%;
	padding-bottom:11%;
	margin:0 auto;
}

div#itemList h4#contactTitle{
	background:url(https://file001.shop-pro.jp/PA01166/275/pc/img/title/karakon_ttl.jpg) no-repeat 10px 0;
	background-size:780px;
	width:100%;
	padding-bottom:11%;
	margin:0 auto;
}

div#itemList h4#drugTitle{
	background:url(https://file001.shop-pro.jp/PA01166/275/pc/img/title/supple_ttl.jpg) no-repeat 10px 0;
	background-size:780px;
	width:100%;
	padding-bottom:11%;
	margin:0 auto;
}

div#itemList h4#japancosmeTitle{
	background:url(https://file001.shop-pro.jp/PA01166/275/pc/img/title/nishiomichi_ttl.jpg) no-repeat 10px 0;
	background-size:780px;
	width:100%;
	padding-bottom:11%;
	margin:0 auto;
}

.koriacosmeAppearance{
	background:url(https://file001.shop-pro.jp/PA01166/275/pc/img/item/koreancosme_bnr.jpg) no-repeat 10px 0;
	background-size:470px;
}

.contactAppearance{
	background:url(https://file001.shop-pro.jp/PA01166/275/pc/img/item/colorcon_bnr.jpg) no-repeat 10px 0;
	background-size:470px;
}

.drugAppearance{
	background:url(https://file001.shop-pro.jp/PA01166/275/pc/img/item/supple_bnr.jpg) no-repeat 10px 0;
	background-size:470px;
}

.nishiodoriAppearance{
	background:url(https://file001.shop-pro.jp/PA01166/275/sp/img/shop/nishiomichi.jpg) no-repeat 10px 0;
	background-size:475px;
}

div#itemList .mapImg a{
	width: 250px;
	height: 58px;
	margin:0 auto;
	background:url(https://file001.shop-pro.jp/PA01166/275/pc/img/btn/ninki_btn.png) no-repeat center top;
	background-size:95%;
}


div#itemList .mapImg span{
	width:215px;
	height:215px;
	margin:0 auto 10px auto;
	padding:9px;
	border:1px solid #dcd2b1;
}

div#itemList span#nishiomichimap{
	background: url(https://file001.shop-pro.jp/PA01166/275/pc/img/map/nishiodori_map.jpg) no-repeat 0;
	background-size:100%;
}

/*各商品一覧ページ---------------------------*/

div#productListArea{
	width:800px;
	height:auto;
	margin:0 auto 60px auto;
	padding:450px 0 0 0;
	border-top:2px dashed #ff7bac;
	font-size:16px;
}

div#productListArea h3 {
	position: relative;
	text-align: center;
	width: 90%;
	margin:0 auto 20px auto;
	color:#ff7bac;
	font-size:20px;
}

div#productListArea h3 span {
	position: relative;
	z-index: 2;
	display: inline-block;
	margin: 0 2.5em;
	padding: 0 1em;
	background-color: #fff;
	text-align: left;
}

div#productListArea h3::before {
	position: absolute;
	top: 50%;
	z-index: 1;
	content: '';
	display: block;
	width: 100%;
	height: 1px;
	background-color: #ff7bac;
}

div#productListArea section{
	width:90%;
	margin:0 auto 20px auto;
}

div#productListArea section ul{
	list-style-type:none;
	display:inline-block;
	clear:both;
}

div#productListArea section ul li{
	float:left;
}

/*医薬品一覧--------------------------------*/

div.freepage19{
	background:url(https://file001.shop-pro.jp/PA01166/275/pc/img/item/supple_bnr.jpg) no-repeat center 20px;
	background-size:90%;
}

div.freepage19 ul.ulCategory1 li{
	margin:0 0 5px 5px;
}

div.freepage19 ul.ulCategory1 li:first-child , div.freepage19 ul.ulCategory1 li:nth-child(4){
	margin:0 0 5px 0;
}

div.freepage19 ul.ulCategory1 li a{
	width:135px;
	display:block;
	text-align:center;
	text-decoration:none;
	font-size:22px;
	font-weight:bold;
	color:#000;
	background:#fff;
	padding:20px 40px;
	border:0.5px solid #ccc;
	border-radius: 5px;		/* CSS3草案 */
	-webkit-border-radius: 5px;	/* Safari,Google Chrome用 */
	-moz-border-radius: 5px;	/* Firefox用 */
	clear:both;
}

div.freepage19 ul.ulCategory1 li a.lines2{
	padding:9px 40px;
}

div.freepage19 ul.ulCategory2 li{
	margin:0 0 5px 10px;
}

div.freepage19 ul.ulCategory2 li a{
	display:block;
	text-align:center;
	text-decoration:none;
	font-size:22px;
	font-weight:bold;
	color:#fff;
	background:#ff7bac;
	padding:20px 105px;
	border:0.5px solid #ff7bac;
	clear:both;
}

/*韓国コスメ--------------------------------*/

div.freepage24{
	background:url(https://file001.shop-pro.jp/PA01166/275/pc/img/item/koreancosme_bnr.jpg) no-repeat center 20px;
	background-size:90%;
}

div.freepage24 ul.ulCategory1 li{
	margin:0 0 5px 5px;
}

div.freepage24 ul.ulCategory1 li:first-child ,
div.freepage24 ul.ulCategory1 li:nth-child(4) ,
div.freepage24 ul.ulCategory1 li:nth-child(7){
	margin:0 0 5px 0;
}

div.freepage24 ul.ulCategory1 li a{
	width:130px;
	height:90px;
	display: table-cell; /* IE8から使用可能 */
	vertical-align: middle;
	text-align:center;
	line-height:20px;
	text-decoration:none;
	font-size:18px;
	font-weight:bold;
	color:#000;
	background:#fff;
	padding:0px 40px;
	border:0.5px solid #ccc;
	border-radius: 5px;		/* CSS3草案 */
	-webkit-border-radius: 5px;	/* Safari,Google Chrome用 */
	-moz-border-radius: 5px;	/* Firefox用 */
	clear:both;
}

div.freepage24 ul.ulCategory1 li span{
	font-size:16px
}

div.freepage24 ul.ulCategory1 li span:before {
	content: "\A" ;
	white-space: pre ;
}

div.freepage24 ul.ulCategory1 li a.lines2{
	padding:9px 40px;
}

div.freepage24 ul.ulCategory2 li{
	width:200px;
	height:110px;
	margin:0 0 5px 10px;
}

div.freepage24 ul.ulCategory2 li a{
	display:block;
	overflow:hidden;
	text-decoration:none;
	color:#ff7bac;
	text-align:center;
	/*padding-top:85px;*/
}

div.freepage24 ul.ulCategory2 li a span{
	font-size:12px;
}

div.freepage24 ul.ulCategory2 li a span:before {
	content: "\A" ;
	white-space: pre ;
}

/*
div.freepage24 ul.ulCategory2 li:nth-child(1) a{
	background:url(../img/brand_bnr/dermal.png) no-repeat 0 0;
	background-size:100%;
}

div.freepage24 ul.ulCategory2 li:nth-child(2) a{
	background:url(../img/brand_bnr/dermal.png) no-repeat 0 0;
	background-size:100%;
}

div.freepage24 ul.ulCategory2 li:nth-child(3) a{
	background:url(../img/brand_bnr/dermal.png) no-repeat 0 0;
	background-size:100%;
}

div.freepage24 ul.ulCategory2 li:nth-child(4) a{
	background:url(../img/brand_bnr/dermal.png) no-repeat 0 0;
	background-size:100%;
}

div.freepage24 ul.ulCategory2 li:nth-child(5) a{
	background:url(../img/brand_bnr/dermal.png) no-repeat 0 0;
	background-size:100%;
}

div.freepage24 ul.ulCategory2 li:nth-child(6) a{
	background:url(../img/brand_bnr/dermal.png) no-repeat 0 0;
	background-size:100%;
}

div.freepage24 ul.ulCategory2 li:nth-child(7) a{
	background:url(../img/brand_bnr/dermal.png) no-repeat 0 0;
	background-size:100%;
}

div.freepage24 ul.ulCategory2 li:nth-child(8) a{
	background:url(../img/brand_bnr/dermal.png) no-repeat 0 0;
	background-size:100%;
}

div.freepage24 ul.ulCategory2 li:nth-child(9) a{
	background:url(../img/brand_bnr/dermal.png) no-repeat 0 0;
	background-size:100%;
}

div.freepage24 ul.ulCategory2 li:nth-child(10) a{
	background:url(../img/brand_bnr/dermal.png) no-repeat 0 0;
	background-size:100%;
}

div.freepage24 ul.ulCategory2 li:nth-child(11) a{
	background:url(../img/brand_bnr/dermal.png) no-repeat 0 0;
	background-size:100%;
}

div.freepage24 ul.ulCategory2 li:nth-child(12) a{
	background:url(../img/brand_bnr/dermal.png) no-repeat 0 0;
	background-size:100%;
}*/

/*カラコン一覧--------------------------------*/

div.freepage21{
	background:url(https://file001.shop-pro.jp/PA01166/275/pc/img/item/colorcon_bnr.jpg) no-repeat center 20px;
	background-size:90%;
}

div.freepage21 ul.ulCategory1 li{
	margin:0 0 5px 5px;
}

div.freepage21 ul.ulCategory1 li:first-child{
	margin:0 0 5px 0;
}

div.freepage21 ul.ulCategory1 li:first-child a , div.freepage21 ul.ulCategory1 li:nth-child(2) a{
	width:246px;
}

div.freepage21 ul.ulCategory1 li:nth-child(3){
	margin:0 0 5px 0;
	clear:both;
}

div.freepage21 ul.ulCategory1 li a{
	width:135px;
	display:block;
	text-align:center;
	text-decoration:none;
	font-size:22px;
	font-weight:bold;
	color:#fff;
	background:#ff7bac;
	padding:20px 40px;
	border:0.5px solid #ff7bac;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	clear:both;
}

div.freepage21 ul.ulCategory2 li{
	margin:0 0 5px 5px;
}

div.freepage21 ul.ulCategory2 li:first-child ,
div.freepage21 ul.ulCategory2 li:nth-child(4) ,
div.freepage21 ul.ulCategory2 li:nth-child(7){
	margin:0 0 5px 0;
}

div.freepage21 ul.ulCategory2 li a{
	width:130px;
	height:70px;
	display: table-cell; /* IE8から使用可能 */
	vertical-align: middle;
	text-align:center;
	line-height:20px;
	text-decoration:none;
	font-size:18px;
	font-weight:bold;
	color:#000;
	background:#fff;
	padding:0px 40px;
	border:0.5px solid #ccc;
	border-radius: 5px;		/* CSS3草案 */
	-webkit-border-radius: 5px;	/* Safari,Google Chrome用 */
	-moz-border-radius: 5px;	/* Firefox用 */
	clear:both;
}

ul.ulColor li{
	float:left;
	overflow:hidden;
	width:100px;
	height:150px;
	margin:0 5px;
}

ul.ulColor li a{
	display:block;
	overflow:hidden;
	text-decoration:none;
	color:black;
	text-align:center;
	padding-top:110px;
}

ul.ulColor li a span{
	font-size:12px;
}

ul.ulColor li:nth-child(1) a{
	background:url(https://file001.shop-pro.jp/PA01166/275/pc/img/color/color-black.png) no-repeat 0 0;
	background-size:100%;
}

ul.ulColor li:nth-child(2) a{
	background:url(https://file001.shop-pro.jp/PA01166/275/pc/img/color/color-gray.png) no-repeat 0 0;
	background-size:100%;
}

ul.ulColor li:nth-child(3) a{
	background:url(https://file001.shop-pro.jp/PA01166/275/pc/img/color/color-green.png) no-repeat 0 0;
	background-size:100%;
}

ul.ulColor li:nth-child(4) a{
	background:url(https://file001.shop-pro.jp/PA01166/275/pc/img/color/color-pink.png) no-repeat 0 0;
	background-size:100%;
}

ul.ulColor li:nth-child(5) a{
	background:url(https://file001.shop-pro.jp/PA01166/275/pc/img/color/color-hazel.png) no-repeat 0 0;
	background-size:100%;
}

ul.ulColor li:nth-child(6) a{
	background:url(https://file001.shop-pro.jp/PA01166/275/pc/img/color/color-blown.png) no-repeat 0 0;
	background-size:100%;
}

ul.ulColor li:nth-child(7) a{
	background:url(https://file001.shop-pro.jp/PA01166/275/pc/img/color/color-blue.png) no-repeat 0 0;
	background-size:100%;
}

ul.ulColor li:nth-child(8) a{
	background:url(https://file001.shop-pro.jp/PA01166/275/pc/img/color/color-purple.png) no-repeat 0 0;
	background-size:100%;
}

ul.ulColor li:nth-child(9) a{
	background:url(https://file001.shop-pro.jp/PA01166/275/pc/img/color/color-silver.png) no-repeat 0 0;
	background-size:100%;
}

ul.ulColor li:nth-child(10) a{
	background:url(https://file001.shop-pro.jp/PA01166/275/pc/img/color/color-yellow.png) no-repeat 0 0;
	background-size:100%;
}

ul.ulColor li:nth-child(11) a{
	background:url(https://file001.shop-pro.jp/PA01166/275/pc/img/color/color-orang.png) no-repeat 0 0;
	background-size:100%;
}

ul.ulColor li:nth-child(12) a{
	background:url(https://file001.shop-pro.jp/PA01166/275/pc/img/color/color-red.png) no-repeat 0 0;
	background-size:100%;
}

ul.ulLenzBrand li{
	float:left;
	overflow:hidden;
	width:200px;
	height:100px;
	margin:0 5px;
}

ulLenzBrand li a{
	display:block;
	overflow:hidden;
}

ul.ulLenzBrand li:nth-child(1) a{
	background:url(https://file001.shop-pro.jp/PA01166/275/pc/img/bland/babylicious_logo.jpg) no-repeat 0 0;
	background-size:100%;
	height:70px;
}

ul.ulLenzBrand li:nth-child(2) a{
	background:url(https://file001.shop-pro.jp/PA01166/275/pc/img/bland/bijou_logo.jpg) no-repeat 0 0;
	background-size:100%;
	height:70px;
}

ul.ulLenzBrand li:nth-child(3) a{
	background:url(https://file001.shop-pro.jp/PA01166/275/pc/img/bland/kissmore_logo.jpg) no-repeat 0 0;
	background-size:100%;
	height:70px;
}

ul.ulLenzBrand li:nth-child(4) a{
	background:url(https://file001.shop-pro.jp/PA01166/275/pc/img/bland/fallineyes_logo.jpg) no-repeat 0 0;
	background-size:100%;
	height:70px;
}

ul.ulLenzBrand li:nth-child(5) a{
	background:url(https://file001.shop-pro.jp/PA01166/275/pc/img/bland/lilmoon_logo.jpg) no-repeat 0 0;
	background-size:100%;
	height:70px;
}

ul.ulLenzBrand li:nth-child(6) a{
	background:url(https://file001.shop-pro.jp/PA01166/275/pc/img/bland/floweres_logo.jpg) no-repeat 0 0;
	background-size:100%;
	height:70px;
}

ul.ulLenzBrand li:nth-child(7) a{
	background:url(https://file001.shop-pro.jp/PA01166/275/pc/img/bland/michebloomin_logo.jpg) no-repeat 0 0;
	background-size:100%;
	height:70px;
}

ul.ulLenzBrand li:nth-child(8) a{
	background:url(https://file001.shop-pro.jp/PA01166/275/pc/img/bland/natumi_color.jpg) no-repeat 0 0;
	background-size:100%;
	height:70px;
}

ul.ulLenzBrand li:nth-child(9) a{
	background:url(https://file001.shop-pro.jp/PA01166/275/pc/img/bland/natumi_ootd.jpg) no-repeat 0 0;
	background-size:100%;
	height:70px;
}

ul.ulLenzBrand li:nth-child(10) a{
	background:url(https://file001.shop-pro.jp/PA01166/275/pc/img/bland/selectfairy_logo.jpg) no-repeat 0 0;
	background-size:100%;
	height:70px;
}